.summary-container {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 16px;
}

.summary-span {
  display: flex;
  padding: 0px;
  margin-bottom: 4px;
}

#summary-h2 {
  color: black;
  font-weight: 900;
  margin-bottom: 20px;
}

b {
  margin-left: 4px;
}
